<template>
  <v-dialog
    v-model="$store.state.isActiveEditMovie"
    fullscreen
    hide-overlay
    transition="dialog-bottom-transition"
  >
    <v-form v-model="valid" ref="form">
      <v-container>

        <v-layout row>
          <v-flex xs12 sm6 offset-sm3>
            <v-text-field
              v-model="name"
              :rules="nameRules"
              label="name"
              required
            ></v-text-field>

            <v-text-field
              v-model="year"
              :rules="yearRules"
              label="year"
              required
            ></v-text-field>

          </v-flex>
        </v-layout>

        <v-layout row>
          <v-flex xs6 sm3 offset-sm3>
            <v-select
              :items="movieTypes"
              v-model="movieType"
              :rules="typeRules"
              label="type"
              required
            ></v-select>
          </v-flex>

          <v-flex xs6 sm3>
            <v-select
              :items="movieStatuses"
              v-model="movieStatus"
              :rules="statusRules"
              label="status"
              required
            ></v-select>
          </v-flex>
        </v-layout>

        <!-- film serial -->
        <v-layout row v-if="movieType === 'serial'">
          <v-flex xs6 sm3 offset-xs3>
            <v-text-field
              v-model="episodesPerSeason"
              label="episodes per season"
            ></v-text-field>
          </v-flex>
        </v-layout>

        <v-layout row v-if="movieType === 'serial' && movieStatus === 'watching'">
          <v-flex xs6 sm3 offset-sm3>
            <v-text-field
              v-model="seasonCurrent"
              label="season current"
            ></v-text-field>
          </v-flex>
          <v-flex xs6 sm3>
            <v-text-field
              v-model="episodeCurrent"
              label="episode current"
            ></v-text-field>
          </v-flex>
        </v-layout>
        <!-- film serial / -->

        <v-layout row v-if="movieStatus === 'watching'">
          <v-flex xs6 sm3 offset-xs3>
            <v-text-field
              v-model="timeCurrent"
              mask="time-with-seconds"
              label="current time"
            ></v-text-field>
          </v-flex>
        </v-layout>

        <v-layout row>
          <v-flex xs12 sm6 offset-sm3>
            <v-btn
              :disabled="!valid"
              @click="submitEditMovie"
            >
              submit
            </v-btn>
            <v-btn
              v-if="$store.state.currentEditMovie"
              color="red--text"
              @click="removeMovie"
            >
              remove
            </v-btn>
            <v-btn
              @click="closeEditMovie"
            >
              close
            </v-btn>
          </v-flex>
        </v-layout>

      </v-container>
    </v-form>
  </v-dialog>
</template>

<script>
  import { secondsToTimeConverter } from '~/utils'
  import { timeToSecondsConverter } from '~/utils'

  export default {
    data: () => ({
      valid: false,
      name: '',
      nameRules: [
        v => !!v || 'Name is required',
      ],
      year: '',
      yearRules: [
        v => !!v || 'Year is required',
        v => 1800 <= v || 'Only year allowed',
        v => v <= (new Date()).getFullYear() + 1 || 'Only year allowed',
      ],
      movieType: '',
      movieTypes: ['serial', 'film'],
      typeRules: [
        v => !!v || 'Type is required',
      ],
      movieStatus: '',
      movieStatuses: ['watched', 'watching', 'watch'],
      statusRules: [
        v => !!v || 'Status is required',
      ],
      episodesPerSeason: null,
      seasonCurrent: null,
      episodeCurrent: null,
      timeCurrent: null,
      TYPE_ID_MAP: {'serial': 1, 'film': 2},
      ID_TYPE_MAP: {1: 'serial', 2: 'film'},
      STATUS_ID_MAP: {'watched': 1, 'watching': 2, 'watch': 3},
      ID_STATUS_MAP: {1: 'watched', 2: 'watching', 3: 'watch'},
    }),
    props: [
      'isActiveEditMovie',
    ],
    watch: {
      isActiveEditMovie(status) {
        const movie = this.$store.state.currentEditMovie;
        if (status && movie) {
          this.name = movie.name;
          this.year = movie.year;
          this.movieType = this.ID_TYPE_MAP[movie.type_movie];
          this.movieStatus = this.ID_STATUS_MAP[movie.status];
          this.episodesPerSeason = movie.episodes_per_season;
          this.seasonCurrent = movie.season_current;
          this.episodeCurrent = movie.episode_current;
          this.timeCurrent = secondsToTimeConverter(movie.time_current)
        }
      }
    },
    methods: {
      /**
       * remove selected movie
       */
      async removeMovie() {
        const movie = this.$store.state.currentEditMovie;
        await this.$store.dispatch('movie/removeMovie', movie);
        await this.$store.dispatch(
          'movie/getMovies', this.$store.state.currentTab);
        await this.closeEditMovie()
      },

      /**
       * close this component and edit bar
       */
      closeEditMovie () {
        this.$store.dispatch('isActiveMovieEditBar', false);
        this.$store.dispatch('isActiveEditMovie', false);
        this.$refs.form.reset();
        this.timeCurrent = null;
        this.$store.dispatch('setCurrentEditMovie', null)
      },

      /**
       * Send data to server
       */
      async submitEditMovie () {
        const movie = this.$store.state.currentEditMovie;

        if (movie) {
          let body = {
            name: this.name,
            year: this.year,
            time_current: timeToSecondsConverter(this.timeCurrent),
            episodes_per_season: this.episodesPerSeason
              ? this.episodesPerSeason : 0,
            episode_current: this.episodeCurrent
              ? this.episodeCurrent : 0,
            season_current: this.seasonCurrent
              ? this.seasonCurrent : 0,
            status: this.STATUS_ID_MAP[this.movieStatus],
            type_movie: this.TYPE_ID_MAP[this.movieType]
          };
          await this.$store.dispatch('movie/editMovie', {
            movie_id: movie.id, movie_data: body});
          await this.$store.dispatch(
            'movie/getMovies', this.$store.state.currentTab);
          await this.closeEditMovie()
        } else {
          let body = {
            name: this.name,
            year: this.year,
            status: this.STATUS_ID_MAP[this.movieStatus],
            type_movie: this.TYPE_ID_MAP[this.movieType]
          };
          if (this.timeCurrent) {
            body.time_current = timeToSecondsConverter(this.timeCurrent)
          }
          if (this.episodesPerSeason) {
            body.episodes_per_season = this.episodesPerSeason
          }
          if (this.episodeCurrent) {body.episode_current = this.episodeCurrent}
          if (this.seasonCurrent) {body.season_current = this.seasonCurrent}


          await this.$store.dispatch('movie/addMovie', body);
          await this.$store.dispatch(
            'movie/getMovies', this.$store.state.currentTab);
          await this.closeEditMovie()
        }
      },
    }
  }
</script>

<style>
  .v-dialog--fullscreen {
    background-color: white;
  }
</style>
