<template>
  <v-layout row>
    <v-flex xs12 sm6 offset-sm3 class="mb-5">
      <v-card>
        <v-list class="pt-0 pb-0 mb-5">
          <template v-for="item in [$store.state.movie.filmsItems,
                                    $store.state.movie.serialsItems]">
            <v-list-group
              v-model="item.active"
              :key="item.title"
              :prepend-icon="item.action"
              no-action
            >
              <v-list-tile slot="activator">
                <v-list-tile-content>
                  <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>

              <template v-for="subItem in item.items">

                <v-list-tile
                  :key="subItem.id"
                  @click="$store.dispatch('openEditBar', subItem)"
                  avatar
                  ripple
                  class="pl-0"
                >

                  <v-list-tile-content>
                    <v-list-tile-title>
                      {{ subItem.name }} <span
                      class="grey--text">({{ subItem.year }})</span>
                    </v-list-tile-title>

                  </v-list-tile-content>

                  <v-list-tile-action>

                    <v-list-tile-action-text
                      v-if="subItem.time_current && currentTab === 'watching'"
                    >
                      {{ secondsToTimeConverter(subItem.time_current, ':') }}
                    </v-list-tile-action-text>
                    <v-list-tile-action-text v-if="currentTab === 'watching'">
                      <span
                        v-if="subItem.season_current"
                      >s:{{subItem.season_current}}</span>
                      <span
                        v-if="subItem.episode_current"
                      >e:{{subItem.episode_current}}</span>
                    </v-list-tile-action-text>
                  </v-list-tile-action>
                </v-list-tile>

                <v-divider></v-divider>

              </template>

            </v-list-group>

            <v-divider></v-divider>

          </template>
        </v-list>
      </v-card>
    </v-flex>

    <movie-edit-bar v-if="$store.state.isActiveMovieEditBar"/>

    <v-btn
      fixed fab bottom right small class="i-add-button"
      @click="$store.dispatch('openAddMovie')"
    >
      <v-icon>add</v-icon>
    </v-btn>

  </v-layout>
</template>

<script>
  import MovieEditBar from '~/components/MovieEditBar'
  import { DEFAULT_TAB } from '~/constants'
  import { TAB_INDEX_MAP } from '~/constants'
  import { secondsToTimeConverter } from '~/utils'

  export default {
    components: {MovieEditBar},
    data () {
      return {
        secondsToTimeConverter: secondsToTimeConverter,
        TAB_INDEX_MAP: TAB_INDEX_MAP
      }
    },
    props: {
      currentTab: String
    },
    watch: {
      async currentTab(tab) {
          await this.$store.dispatch('movie/getMovies', tab)
      }
    },
    mounted() {
      this.$store.dispatch('movie/getMovies', DEFAULT_TAB)
    },
    methods: {}
  }
</script>

<style>
  .v-list__group__items--no-action .v-list__tile {
    padding-left: 16px;
  }
  .i-add-button {
    margin-bottom: 64px;
    margin-right: 6px;
  }
</style>
