<template>
  <v-fade-transition>
    <v-bottom-nav app dark v-on:update:active="" :value="true" fixed>

      <v-btn
        flat @click="setWatchedStatus"
        v-if="[WATCHING_STATUS, WATCH_STATUS].includes(
          $store.state.currentEditMovie.status)">
        <span>watched</span>
        <v-icon>done</v-icon>
      </v-btn>

      <v-btn flat @click="$store.dispatch('isActiveEditMovie', true)">
        <span>edit</span>
        <v-icon>details</v-icon>
      </v-btn>

      <v-btn
        flat @click="incrementEpisode"
        v-if="$store.state.currentEditMovie.type_movie === SERIAL_TYPE &&
              $store.state.currentEditMovie.status ===  WATCHING_STATUS">
        <span>episode</span>
        <v-icon>exposure_plus_1</v-icon>
      </v-btn>

      <v-btn flat @click="$store.dispatch('isActiveMovieEditBar', false)">
        <v-icon>close</v-icon>
      </v-btn>

    </v-bottom-nav>
  </v-fade-transition>
</template>

<script>
  import { SERIAL_TYPE } from '~/constants'
  import { WATCHING_STATUS } from '~/constants'
  import { WATCH_STATUS } from '~/constants'
  import { WATCHED_STATUS } from '~/constants'

  export default {
    data: () => ({
      SERIAL_TYPE: SERIAL_TYPE,
      WATCHING_STATUS: WATCHING_STATUS,
      WATCH_STATUS: WATCH_STATUS,
    }),
    methods: {
      async setWatchedStatus() {
        let movie = this.$store.state.currentEditMovie;

        await this.$store.dispatch('movie/editMovie', {
          movie_id: movie.id, movie_data: {status: WATCHED_STATUS}
        });
        await this.$store.dispatch(
          'movie/getMovies', this.$store.state.currentTab
        );
        await this.$store.dispatch('isActiveMovieEditBar', false)
      },

      async incrementEpisode() {
        let movie = this.$store.state.currentEditMovie;

        let episodeCurrent = movie.episode_current
                             ? movie.episode_current + 1 : 1;
        let seasonCurrent = movie.season_current;
        if (movie.episodes_per_season &&
            episodeCurrent > movie.episodes_per_season) {
          seasonCurrent = movie.season_current
                          ? movie.season_current + 1 : 1;
          episodeCurrent = 1;
        }

        await this.$store.dispatch('movie/editMovie', {
          movie_id: movie.id, movie_data: {
            season_current: seasonCurrent,
            episode_current: episodeCurrent,
          }});
        await this.$store.dispatch(
          'movie/getMovies', this.$store.state.currentTab
        );
        await this.$store.dispatch('isActiveMovieEditBar', false)
      }
    }
  }
</script>
