<template>
  <v-layout align-center justify-center fill-height column>
    <h1>Sign In Fi<span
      @click="isActiveStaffLogin = !isActiveStaffLogin"
    >l</span>mover!</h1>
    <v-container v-if="isActiveStaffLogin">
      <v-form v-model="valid">
        <v-text-field
          @keyup.enter="checkUser"
          v-model="name"
          :rules="nameRules"
          :counter="10"
          label="Name"
          required
        ></v-text-field>
        <v-text-field
          @keyup.enter="checkUser"
          v-model="passwd"
          :rules="passwdRules"
          label="Password"
          type="password"
          required
        ></v-text-field>
      </v-form>
      <v-btn
        :disabled="!valid"
        @click="checkUser"
      >
        login
      </v-btn>
    </v-container>
    <v-btn large @click="signInWithGoogle">
      <v-icon>fingerprint</v-icon>
      Sign-In with Google
    </v-btn>
  </v-layout>
</template>

<script>
  export default {
    data () {
    return {
        valid: false,
        name: '',
        nameRules: [
          v => !!v || 'Name is required',
          v => v.length <= 10 || 'Name must be less than 10 characters'
        ],
        passwd: '',
        passwdRules: [
          v => !!v || 'Password is required'
        ],
        user: null,
        auth2: null,
        isActiveStaffLogin: false
      }
    },
    methods: {
      /**
       * Check user on backend
       */
      async checkUser () {
        await this.$store.dispatch('user/loginUser', {
          userId: this.name, password: this.passwd
        })
      },
      /**
       * get access code from google and sending on backend
       */
      async signInWithGoogle() {
        let code_data = await this.auth2.grantOfflineAccess();
        await this.$store.dispatch('user/loginUserWithGoogle', code_data.code);
      },
    },
    mounted() {
      /**
       * initialize google auth module
       */
      gapi.load('auth2', () => {
        this.auth2 = gapi.auth2.init({
          client_id: '762412358850-ot63g3qo3grdtorv9g5sn5gnltbf8bsc' +
                     '.apps.googleusercontent.com'
        })
      })
    }
  }
</script>
