<template>
  <v-bottom-nav
    app
    :active.sync="$store.state.currentTab"
    v-on:update:active="updateTabInStore"
    :value="true"
    fixed
  >
    <v-btn flat value="watched">
      <span>watched</span>
      <v-icon>favorite_border</v-icon>
    </v-btn>

    <v-btn flat value="watching">
      <span>watching</span>
      <v-icon>pause_circle_outline</v-icon>
    </v-btn>

    <v-btn flat value="watch">
      <span>watch</span>
      <v-icon>play_circle_outline</v-icon>
    </v-btn>
  </v-bottom-nav>
</template>

<script>
  export default {
    name: "tabbar",
    methods: {
      /**
       * Update tab name in store
       *
       * @param tabName name selected tab
       */
      async updateTabInStore (tabName) {
        await this.$store.dispatch('updateTabInStore', tabName)
      }
    }
  }
</script>
