<template>
  <v-toolbar app>
    <v-icon>favorite</v-icon>
    <v-spacer></v-spacer>
    <v-toolbar-items>
      <!--
      ToDo: add search, tags and out buttons
      -->
    </v-toolbar-items>
  </v-toolbar>
</template>
