<template>
  <screen-auth v-if="!$store.state.user.isLogined"/>

  <section v-else>
    <!-- Temporary disable top bar -->
    <!--<topbar/>-->

    <list-films :currentTab="$store.state.currentTab"/>

    <tabbar v-if="!$store.state.isActiveMovieEditBar"/>

    <edit-movie
      :isActiveEditMovie="$store.state.isActiveEditMovie"
    />
  </section>

</template>

<script>
  import ScreenAuth from '~/components/ScreenAuth'
  import Tabbar from "~/components/Tabbar"
  import Topbar from "~/components/Topbar"
  import ListFilms from "~/components/ListFilms"
  import EditMovie from "~/components/EditMovie"

  export default {
    components: {EditMovie, ListFilms, Tabbar, Topbar, ScreenAuth},
    data () {
      return {
      // pass
      }
    },
    mounted () {
      let userId = this.$cookies.get('userId');
      if (userId) {
        this.$store.dispatch('user/loginUser', { userId });
      }
    },
    methods: {
    //  pass
    },
    destroyed () {
    //  pass
    }
  }
</script>
